<ion-header>
  <ion-toolbar>
    <ion-title>
      Notes App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input required type="text" placeholder="Note" [formControl]="noteText"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="full"  color="primary" (click)="addNote();">Add</ion-button>
  </ion-item>
  <div *ngIf="notes">
    <ion-grid>
      <ion-row *ngFor="let note of notes">
        <ion-col >
          <h3>{{note.text}}</h3>
          <p>{{note.time}}</p>                     
        </ion-col>
        
        <ion-col><ion-button (click)="delete(note);">Delete</ion-button></ion-col>
        <ion-col><ion-button (click)="edit(note)">Edit</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
  
  
</ion-content>
